.container2 {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3vw;
}

.container2 > * {
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}
.photograph{
  width: 32vw;
  margin-bottom: 3%;
  border-radius: 20px;
}

.chooseFile {
 /* hides file */
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.chooseFile + label{
  font-size: 1.25em;
  font-weight: 100;
  color: white;
  background-color: var(--button-color);
  display: inline-block;
  cursor: pointer;
  border-radius: 25px;
  padding: 0.1em 0.8em ;

}

.chooseFile:focus + label,.chooseFile + label:hover
 {
    background-color: #f13939;
    text-decoration: underline;
}

@media (max-width: 768px) {
 .container2 {
  height: 50vh;
  width: 100vw;
  margin: 0 auto;
 }
 .photograph {
  width: 65vw;
 }

}